html{
    background-image: url(/home/derrick/Documents/Myportfolio/pic4.jpeg);
}
#nav{
    padding: 20px;
    line-height: 30px;
}
h3{
    text-align: center;
    font color: blue;
    font family:serif;
}
#about{
    text-align: right;
    padding: 20px;
}
footer{
    text-align: center;
    background-color: #E6E6FA;
    }
#home{
    background-image: url(/home/derrick/Documents/Myportfolio/pic2.jpeg);
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}
#contact{
    text-align: right;
    line-height: 40px;
    padding: 20px;
}
.top{
    background-color: #E6E6FA;
    text-align: center;
    font-style: italic;
}
#myworks{
    text-align: left;
    padding: 20px;
}
}
@media screen{
    (max-width: 767px) and (min-width: 600px);
}