html{
    background-image: url(/home/derrick/Documents/Myportfolio/pic4.jpeg);
}
#nav{
    padding: 20px;
    line-height: 20px;
    overflow: auto;
}
h3{
    text-align: center;
    font color: black;
    font family:serif;
}
#about{
    text-align: right;
    padding: 20px;
}
footer{
    text-align: center;
    background-color: 273964;
    #p{
        float: right;
    }
}
#home{
    background-image: url(/home/derrick/Documents/Myportfolio/pic2.jpeg);
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}
#contact{
    text-align: right;
    line-height: 40px;
    padding: 20px;
}
.top{
    background-color: #273964;
    text-align: center;
    font-style: italic;
}
#myworks{
    text-align: left;
    padding: 20px;
}
    background-image: url(/home/derrick/Documents/Myportfolio/pic4.jpeg);


@media screen{
    (max-width: 767px) and (min-width: 600px);
}